.buttond {
  width: 87vw;
  display: flex;
  justify-content: flex-end;

  padding-top: 5vh;
}
.btn {
  width: 110px;
  height: 44px;
}

.task {
  width: 500px;
  height: 80vh;
}
.bhead {
  padding-left: 20px;
  padding-top: 20px;
}
.reminder {
  width: 440px;
  height: 100px;
  background-color: rgb(26, 25, 25);
}
.enterTask {
  width: 600px;
  height: 500px;
}
